.form-container {
  margin: 0;
  h2 {
    font-size: 30px;
    color: $main-color;
  }
}

.input-style {
  border: 0.5px solid $main-gray;
}

.footer-form {
  font-size: 12px;
}

label {
  font-size: 14px;
  color: $main-color;
}

.contact-coordonnees h2 {
  font-size: 30px;
  color: $main-color;
}

.contact-coordonnees p {
  font-size: 14px;
  font-weight: 700;
}

.border-top-color {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: none;
}
