.container-log-in {
  margin: 50px 0;
  min-height: 400px;
  h2 {
    color: $main-color;
  } a {
    color: $main-color;
  }
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.centered {
  position: relative;
}


