<div class="container">
  <div class="navigation">
    <%= link_to "Editer la publication", edit_actualite_path  %> / <%= link_to "Supprimer la publication", actualite_path(@actualite), :method => :delete  %>
  </div>

  <div class="article-show">
    <%= @actualite.title %>
    <%= @actualite.contenu %>
  </div>
</div>
